<div class="content"</div>
<h1 class="title"><%= @playdate.name %></h1>
<%=@playdate.datetime.strftime("%b %e, %l:%M %p")%></br>
<b>Location:</b> <%= @playdate.location %></br>
<b>Description:</b> <%= @playdate.description %></br>
<br>
<b>Participants:</b> </br>
<% @playdate.children.each do |child| %>
  <%= child.name %></br>
<%end%>
<br>
<%= form_for(@playdate) do |f| %>
  <%= f.label :participants, "Select a Child:  " %>
  <%= f.collection_check_boxes :participants, @family.children, :id, :name%></br>
<%= f.submit %>
<%end%>
</div>



