<div class="content"</div>
<%= form_for(@family) do |f| %>

  <%= f.fields_for :users, @user do |user| %>
    <%= user.label :first_name %></br>
    <%= user.text_field :first_name %></br>
    <br>
    <%= user.label :last_name %></br>
    <%= user.text_field :last_name %></br>
 <br>

    <%= user.label :email, "Email:" %></br>
    <%= user.text_field :email %><br>
  <% end %>
  <br>

  <%= f.fields_for :children, @child do |child| %>
    <%= child.label :name, "Child's Name:" %></br>
    <%= child.text_field :name %><br>
  <br>
    <%= child.label :age, "Age:" %></br>
    <%= child.text_field :age %></br>
  <% end %>
  <br>

  <%= f.submit %>

<%end%>
</div>

<div class="content"</div>

<h3>Add family members</h3>
<%= link_to "Add an adult", new_user_path %></br>
</div>
