<h1> Family </h1></br>

<h3>Familiy Members:</h3>

<% @family.children.each do |child| %>
  <b> Child:</b> <%= child.name.capitalize %>
<%end%>
<br>

<% @family.users.each do |user| %>
  <b><%= user.title %>:</b> <%= user.name.capitalize %>
<%end%>
<br>
<br>
<br>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
<br>

<h3> Upcoming Play Dates </h3>

<%= family_playdates %>
