<div class="content"</div>
<h1> Family </h1>
</hr>

</br>

<div class="section">
  <h3>Familiy Members:</h3>
</div>


<% @family.children.each do |child| %>
  <b> Child:</b> <%= child.name.capitalize %></br>
<%end%>
<br>

<% @family.users.each do |user| %>
  <b><%= user.title %>:</b> <%= user.first_name.capitalize %> <%= user.last_name.capitalize %></br>
<%end%>
</div>

<div class="content"</div>
<h3> Upcoming Play Dates </h3>
</div>


  <% if !connected? && my_family != params[:id].to_i %>
  <div class="content">
    <%= form_for(@request) do |f| %>
      <%= f.label :message, "Include a message with your request (optional)" %>
      <%= f.text_field :message, class: 'form-control'  %></br>
      <%= f.hidden_field :famconnect_id, value: params[:id], class: 'form-control'  %>
      <%= f.hidden_field :family_id, value: current_user.family.id %>
    <%= f.submit%>
    <%end%>
  <%end%>
  </div>

  <div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1> Autumns Play Date </h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>





