<div class="content">

  <div class="content">
    <b> Hello <%=current_user.first_name %> </b>
  </div>


<!-- Child Section -->

  <% my_children.each do |child| %>
 
    <div class="content">

    <h4><%=child.name%></h4>
    <b>Today:</b></br>

    <% if child.playdate_today.any? %>
      <% child.playdate_today.each do |playdate| %>
        <b><%= playdate.datetime.strftime("%l:%M %p") %> <%= link_to playdate.name, playdate_path(playdate) %></b></br>
      <%end%>
    <%else%>
        <small><%=child.name%> does not have a play date scheduled today</small>
    <%end%>
    <br>

    <b>Play Dates: </b></br> 

  <% child.upcoming_playdates.each do |playdate| %>
    <%= playdate.datetime.strftime("%b %e, %l:%M %p")%> <%= link_to playdate.name, playdate_path(playdate) %></br>
  <%end%>
</div>
<br>

<div class="content">
  </b> Update status: Is <%= child.name.capitalize %> bored today? </b>
    <%= form_for(child) do |f| %>
      <%= f.select :bored, [true, false]%>
      <%= f.submit %>
    <%end%>
</div>
<%end%>
<br>

<div class="content"</div>
<h4> Friends </h4>
<hr/>

<% @family.famconnects.each do |fam| %>
   <% fam.children.each do |child| %>
   <div class="innerbox"><%= child.name %> </br></div>
  <%end%>
<%end%>
</div>
<br>


<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
</div>


<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="title"> Autumns Play Date </h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>


<div class="content">
<h1 class="alert"> Bored Alert!!!!!!! </h1>
  <% Child.i_am_bored.each do |child| %>
    <div class="innerbox"><%= child.name %></div>
  <%end%>
</div>






