<div class="content"</div>

<div class="content"</div>

<h3> Hello <%=current_user.first_name %> </h3>
<h3>Familiy Members:</h3>
<hr/>

  <% @family.children.each do |child| %>
    <b> Child:</b> <%= child.name.capitalize %></br>
    <%= form_for(child) do |f| %>
      <%= f.select :bored, [true, false]%>
      <%= f.submit %>
    <%end%>
  <%end%>
<br>

<% @family.users.each do |user| %>
  <b><%= user.title %>:</b> <%= user.first_name.capitalize %> <%= user.last_name.capitalize %></br>
<%end%>
</div>

<div class="content"</div>
<h3> Upcoming Play Dates </h3>

<%= family_playdates %>
</div>

<div class="content"</div>
<h3> Friends </h3>
<hr/>

<% @family.famconnects.each do |fam| %>
   <% fam.children.each do |child| %>
   <div class="innerbox"><%= child.name %> </br></div>
  <%end%>
<%end%>
</div>


<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
</div>


<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="title"> Autumns Play Date </h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>


<div class="content">
<h1 class="alert"> Bored Alert!!!!!!! </h1>
  <% Child.i_am_bored.each do |child| %>
    <div class="innerbox"><%= child.name %></div>
  <%end%>
</div>






